html, body, #root {
    width:100%;
    height:100%;
    margin:0;
}

.container {
    height:100%;
    display: flex;
    flex-direction: row;
}

#pdftron-webviewer {
    height:100%;
    flex:1;
}

#tui-image-editor {
    flex:1;
}

.tui-image-editor-header {
    display: none;
}

.filter-color-item {
    display: none!important;
}

.header {
    background: #1e1e1e;
}